<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807928537701-69r09kf9jrt5gsfklhq689qkjtpol43l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807928537701-69r09kf9jrt5gsfklhq689qkjtpol43l</string>
	<key>API_KEY</key>
	<string>AIzaSyAJBjY1q4KM6o2hHX6m-56oMTs0O-Ccunc</string>
	<key>GCM_SENDER_ID</key>
	<string>807928537701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ibo.Note-App</string>
	<key>PROJECT_ID</key>
	<string>firestore-journal-app-116e8</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-journal-app-116e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807928537701:ios:5bc91bd1f7cfe1644bdc8c</string>
</dict>
</plist>